.style-card {
     padding-top: 75px
 }

 .button-control {
     float: right;
 }

 .show-div {
     float: left;
 }


 #container {
     display: grid;
     grid-template-columns: 1fr;
 }

 #outfit-card {
     width: 600px;
     margin: 60px auto;
     padding: 20px;
 }

 .border {
    border: solid 2px black;
    box-shadow: 10px 10px 2px 1px rgba(74, 2, 243, 0.2);
 }

 .button-border {
    box-shadow: 2px 2px 2px 1px rgba(74, 2, 243, 0.2);
    color: #cccccc;
 }

 .submit-border {
     box-shadow: 2px 2px 2px 1px rgba(74, 2, 243, 0.2);
 }

 .show-page {
     display: grid;
     grid-template-columns: 6fr 4fr;
 }

 #list-items {
     text-align: center;
     /* border: solid 2px black; */
     width: 1100px;
     margin: 50px auto;
     padding: 20px;
 }


 .show-div {
     text-align: center;
 }

 #java-header {
     display: flex;
     justify-content: center;
     background: #000000;
     opacity: .8;
     height: 10rem;
     padding: 1rem;
 }

 #java-header img {
     height: 9rem;
     width: auto;

 }

 #create-card {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
 }

 .centered {
    text-align:center;
 }

 #comments {
     padding-right: 20px;
     padding-left: 2px;
     text-align: center;

 }

 .left-right {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }

 .right-shoe {
     margin: 0 auto;
     padding: 100px;
 }

.left-shoe {
    margin: 0 auto;
    padding: 100px;
}

 .right-bottom {
     margin: 0 auto;
     padding: 120px;
 }

 .left-bottom {
     margin: 0 auto;
     padding: 120px;
 }

  .right-top {
     margin: 0 auto;
     padding: 120px;
 }

 .left-top {
     margin: 0 auto;
     padding: 120px;
     
 }

 .list-image {
     /* padding: 15px; */
     /* padding-top: 50px; */
     margin-top: 23px;
     border-radius: 20px;

 }

 .likes-button {
     /* padding-top: 15px */
 }

.style-card:hover {
     border: solid 0.5px black;
 }

 .style-card-click {
    border: solid 2px black;
    box-shadow: 8px 8px 2px 1px rgba(74, 2, 243, 0.2);
 }

.selected-button {
    box-shadow: 8px 8px 2px 1px rgba(50, 243, 2, 0.2);
}

.med-font {
    font-size: 20pt
    
}

.red {
    color: red;
}

.likes-area {
    padding-top: 30px;
    text-align: center;
}

#submit-text{
    width: 200px;
    height: 30px;
}

.comments-d {
    padding-top: 17px;
    padding-bottom: 2px;
     height: 900px;
     overflow: scroll;
}

.please {
    padding-bottom: 10px;
    padding-top: 20px;
}

.rounded{
    border-radius: 20px;
}

.button-selection {
    text-align: center;
}

.button-s {
    width: 200px;
}